pkgbase = onec-fetch
	pkgdesc = System information tool written in 1C / OneScript
	pkgver = 2.0.0
	pkgrel = 1
	url = https://github.com/SPAWNRYS-ban/onec-fetch
	arch = x86_64
	license = MIT
	license = MPL-2.0
	depends = glibc
	depends = libgcc
	depends = libstdc++
	depends = icu
	depends = krb5
	depends = libunwind
	depends = openssl
	depends = zlib
	depends = ca-certificates
	depends = tzdata
	depends = coreutils
	depends = procps-ng
	depends = pciutils
	depends = iproute2
	optdepends = qt6-tools: KDE display and MPRIS metadata
	optdepends = kscreen: KDE display modes
	optdepends = mesa-utils: OpenGL details
	optdepends = vulkan-tools: Vulkan details
	optdepends = clinfo: OpenCL details
	optdepends = nvidia-utils: NVIDIA memory and temperature
	optdepends = networkmanager: connected Wi-Fi details
	optdepends = libpulse: sound volume and devices
	optdepends = bluez-utils: Bluetooth details
	optdepends = playerctl: fallback media details
	optdepends = dmidecode: physical memory details
	optdepends = ddcutil: external display brightness
	optdepends = tpm2-tools: detailed TPM properties
	optdepends = btrfs-progs: Btrfs volume details
	options = !strip
	options = !debug
	source = onec-fetch-2.0.0-linux-x64.tar.gz::https://github.com/SPAWNRYS-ban/onec-fetch/releases/download/v2.0.0/onec-fetch-2.0.0-linux-x64.tar.gz
	source = onec-fetch-launcher
	source = onec-fetch.1
	source = copyright
	sha256sums = 8175789168c3f83727fcb83d4b9efb98b5689ed4aa0ad29e7023ddc1c2fddd31
	sha256sums = e0092338a9b78194721708dbc79c0e6bc23faea49d60168f047a82b9190d5b2f
	sha256sums = cdf0c43ff35d6fa2c626baeb8aad3e4c21a6d490e318c1339dfafc233bc63598
	sha256sums = 8f405b7eaf361a8718df9a182dd130f91bf6fa857763c1556fe464553d241c20

pkgname = onec-fetch
